body {
    /* background-color: rgb(86, 85, 83) !important; */
    text-align: center !important;
    justify-content: center !important;
    background: url("./popcorn2.jpeg") !important
    background: url("./popcorn2.jpeg" )!important; 

}

.container {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}


header h1 {

    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
    opacity: .8;
}


.btn-primary {

    display: flex;
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
}

.clearSavedBtn {
   
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
    color: white;
    justify-content: center !important;
}

ul {
    list-style-type: none;
}

.testing {
    margin-left: 15px !important;
}



.row .col-lg-3 {
    margin-top: 1.2%;

}

#myModal {
    color: black;
    width: 40%;
}

.modalBtn {
    margin-right: 700px !important;
}
   
}

/*movie poster card*/
/* .col-md-4 {

    height: 500px;
    width: 500px;
    margin-left: 375px;
    margin-top: 10px;
} */

.modal-body {
    margin-right: 200px !important;
}

.trailer {
    justify-content: center;
}

/*movies to watch card*/
.card {
    margin: 5% 0%;
}

/*shifts body on all cards*/
.card-body {
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;    
}


#past-search-buttons {
    overflow: hidden;
}

#card-title {
    font-size: 200%;
    color: black;

}

#list-group-item-A {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;
}

#list-group-item-B {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;

}

#list-group-item-C {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;

}

#sourceRatings {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;
}

#list-group-item-E {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;
}

#newComment {
    background-color: #ffc107;
}

#addComments {
    width: 20%;
    padding: 5px;
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
    color: white;
    align-self: center;
}

.wrapper>button {
    margin-right: 5px;
    padding: 5px;
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
}

textarea {
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
    color: white !important;

}

.commentText {
    background-color: #ffc107;
    color: white;
}

.saveBtn {
    border-color: rgb(246, 93, 11) !important;
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, rgb(230, 153, 82), rgb(237, 97, 9));
    color: white;

}

.modal-content {
    width: 177% !important;
}

/* @media screen and (max-width:900px) {
    .col-md-4 {
        margin-right: 200px !important;
    }
} 
@media screen and (min-width: 995px) {
    .col-lg-6 {
        margin-left: 80px !important;
    }
}

@media screen and (max-width:700px) {
  

    /*play traier button*/
    .trailer {
        width: 100% !important;
    }


}


